# Python Environments
venv/
env/
.venv/
__pycache__/
*.pyc

# Web Scraping Output (so you don't upload massive scraped datasets)
*.csv
*.xlsx

# Secrets & Credentials (Proxies, DB passwords, etc.)
.env
config.ini

# WebDriver logs (Selenium / undetected-chromedriver)
geckodriver.log
chromedriver.log

# Databases
*.db
oldyad2_cars.db

# Bright Data & Proxies
*.crt
credentials.txt
console log.txt

# Backups and Data
*.zip
*.xlsx
Backup*/

